.navStyle {
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  justify-content: center;
  border-bottom: solid 8px blue;
  height: 60px;
  font-size: 1.2rem;
  ul {
    width: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    li {
      list-style-type: none;
      border-right: 2px solid blue;
      padding-right: 4px;
    }
  }
}
